[submodule "device/gogoping_ws/src/vic_pinky"]
	path = device/gogoping_ws/src/vic_pinky
	url = https://github.com/pinklab-art/vic_pinky.git
[submodule "device/noriarm_ws/src/open_manipulator"]
	path = device/noriarm_ws/src/open_manipulator
	url = https://github.com/robotis-git/open_manipulator.git
[submodule "device/gogoping_ws/src/py_trees_ros"]
	path = device/gogoping_ws/src/py_trees_ros
	url = https://github.com/splintered-reality/py_trees_ros.git
	branch = devel
[submodule "device/gogoping_ws/src/py_trees_ros_interfaces"]
	path = device/gogoping_ws/src/py_trees_ros_interfaces
	url = https://github.com/splintered-reality/py_trees_ros_interfaces.git
	branch = devel
[submodule "device/gogoping_ws/src/py_trees_ros_viewer"]
	path = device/gogoping_ws/src/py_trees_ros_viewer
	url = https://github.com/splintered-reality/py_trees_ros_viewer.git
	branch = devel
[submodule "device/noriarm_ws/src/DynamixelSDK"]
	path = device/noriarm_ws/src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = jazzy
[submodule "device/noriarm_ws/src/dynamixel_interfaces"]
	path = device/noriarm_ws/src/dynamixel_interfaces
	url = https://github.com/ROBOTIS-GIT/dynamixel_interfaces.git
	branch = jazzy
[submodule "device/noriarm_ws/src/dynamixel_hardware_interface"]
	path = device/noriarm_ws/src/dynamixel_hardware_interface
	url = https://github.com/ROBOTIS-GIT/dynamixel_hardware_interface.git
	branch = jazzy
[submodule "device/eduping_ws/src/openarm_can"]
	path = device/eduping_ws/src/openarm_can
	url = https://github.com/enactic/openarm_can
[submodule "device/eduping_ws/src/openarm_description"]
	path = device/eduping_ws/src/openarm_description
	url = https://github.com/enactic/openarm_description
[submodule "device/eduping_ws/src/openarm_ros2"]
	path = device/eduping_ws/src/openarm_ros2
	url = https://github.com/enactic/openarm_ros2
[submodule "device/eduping_ws/src/openarm_teleop"]
	path = device/eduping_ws/src/openarm_teleop
	url = https://github.com/enactic/openarm_teleop
