<?xml version="1.0"?>
<!-- Vic Pinky 스폰용 wrapper. vicpinky_description URDF 를 그대로 include.
     (예전에 유치원 얼굴 데코 link 가 있었으나 사용자 요청으로 제거) -->
<robot name="pinky" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="namespace" default=""/>
    <xacro:property name="prefix" value="$(arg namespace)"/>

    <!-- 원본 Vic Pinky URDF 로드 -->
    <xacro:include filename="$(find vicpinky_description)/urdf/robot.urdf.xacro"/>

</robot>
